# Environment variables
VITE_SUPABASE_URL=https://fytvgzckjcxluxggealg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5dHZnemNramN4bHV4Z2dlYWxnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5NzYyMzQsImV4cCI6MjA4ODU1MjIzNH0.WLI8oG2WKP8D51VXoBCk_soPYugRHJwqB1AIxcspgeM
